
$container-width: 1170px;
$container-width-hero: 1030px;
$main-color: #FFCC00;
$grey-1: #CCCCCC;
$grey-2: #898F8F;
$grey-3: #666666;
$grey-4: #333333;
$font-main: "Raleway", sans-serif;
$font-secondary: "Roboto", sans-serif;